body {
  background-color: #d1d1d1;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 30px;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#myname {
  color: #efa4bc;
  text-shadow: 1px 1px 1px black;
}

.mainPageLinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.mainPageLinks a {
  padding: 0.3em 1.2em;
  margin: 0 0.6em 0.6em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}
.mainPageLinks a:hover {
  background-color: #79848b;
}
.project-link {
  padding: 0.3em 1.2em;
  margin: 0 0.6em 0.6em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #f7c3c6;
  text-align: center;
  transition: all 0.2s;
}
.project-link:hover {
  background-color: #d2f5f1;
}

@media all and (max-width: 30em) {
  .mainPageLinks {
    display: block;
    margin: 0.2em auto;
  }
}
.about-page {
  background-color: #ffffff;
  padding: 2em;
  max-width: 900px;
  margin: 0 auto;
}
.homepage-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ff4fa7;
  -webkit-text-stroke: 0.5px black;
  font-size: 26px;
}

.about-text p {
  margin: 10px;
  background: #f5f2fe;
  text-align: justify;
}
p {
  display: block;
  padding: 20px;
}
.about-pictures {
  height: 100%;
}

.email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ff4fa7;
  -webkit-text-stroke: 0.5px black;
  font-size: 26px;
}

@media (min-width: 1000px) {
  .soki {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
.social-icons {
  font-size: 50px;
  padding: 30px;
  background: #f7c3c6;
  border-radius: 100%;
}
.social-links {
  text-decoration: none;
  color: black;
}
.social-links:hover {
  color: #ff4fa7;
}
.contact-section {
  margin: 30px;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  .about-pictures {
    height: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .about {
    display: flex;
  }
}
